h2 {
    background-color: black;
    color: rgba(30, 156, 5, 0.623);
    font-style: initial;
    font-size: 2rem;
}
aside {
    background-color: lightgreen;
}

main {
    background-color: lightgrey
}